{% load news_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
    <hr>
    {% if user.is_authenticated %}
        Привет, {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="parentNode.submit();">Выйти</a>
    </form>
    {% else %}
        <p>Вы не авторизованы</p>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    <hr>
    <h3>Последние новости</h3>
    {% show_latest_news 3 %}
</div>
</body>
</html>